/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Warna biru muda */
    color: #333; /* Warna teks */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: linear-gradient(to right, #63a69f, #00bcd4); /* Gradien warna biru muda ke biru tua */
    color: #fff; /* Warna teks putih */
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
}

/* Navigation styles */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333; /* Warna teks */
    font-weight: bold;
}

/* Section styles */
section {
    padding: 4rem 0;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Project styles */
.project {
    margin: 2rem;
}

.project img {
    max-width: 100%;
}

/* Footer styles */
footer {
    background-color: #333; /* Warna latar belakang hitam */
    color: #fff; /* Warna teks putih */
    text-align: center;
    padding: 1rem 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        padding-top: 2rem;
    }
}

/* Gambar profil bulat */
.round-image {
    border-radius: 50%; /* Membuat gambar berbentuk bulat */
    width: 150px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    height: 150px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    display: block;
    margin: 0 auto; /* Pusatkan gambar di tengah */
}

/* Gaya untuk kontainer gambar profil */
.profile-image {
    text-align: center; /* Pusatkan gambar profil */
    margin-bottom: 20px;
}
.profile-card img {
    width: 130px; /* Sesuaikan ukuran yang Anda inginkan */
    position: absolute;
    top: 20px; /* Sesuaikan jarak dari atas */
    left: 20px; /* Sesuaikan jarak dari kiri */
}

/* Gaya dasar navbar */
nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; /* Efek transisi saat perubahan warna */
}

/* Efek hover saat kursor mendekati tautan */
nav ul li a:hover {
    color: blue; /* Warna biru saat hover */
}
